{% extends 'admin/base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center">

    <div class="col-md-4 ">

    <div class="card bg-light text-center">
        <div class="card-header">
            <h4 class="card-title">
                <i class="fas fa-lock"></i>
                Connexion à l'administration
            </h4>
        </div>
        <div class="card-body">
            {% if hasError %}
                <div class="alert alert-warning">
                    <p>
                        les informations que vous avez fournies ne sont pas bonnes.
                    </p>
                </div>
            {% endif %}
            <form method="POST"  >
                <div class="form-group">
                    <label for="_username">Email</label>
                    <input type="text" class="form-control" placeholder="Adresse mail..." name="_username" value="{{ ussername }}">
                </div>
                <div class="form-group"><label for="_password">Mot de passe</label>
                    <input type="password" class="form-control" placeholder="Mots de passe.." name="_password">
                </div>
                <div class="form-group p-2">
                    <a href="{{ path('homepage') }}" class="btn btn-link">
                        <i class="fas fa-arrow-circle-left"></i>
                        Retour au site
                    </a>
                    <button type="submit" class="btn btn-primary">
                        <i class="fas-fa-lock-open"></i>
                        Connexion !
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>


{% endblock %}
