<style>
    footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>

<footer class="mt-5 py-2 text-center bg-black">
    <a href="#"> Copyrigth</a>
</footer>